/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

html {
  font-family: "Arial"; sans-serif;
  background-color: blue;
}

table {
  color: red;
  background-color: yellow;
}
